.graphs {
    display: flex;
}

.domain {
    display: none;
}

.tick line {
    stroke: #e0e0e0;
}

.tick-text {
    fill: #8e8883;
    font-size: 12px;
}

.x-axis .tick line {
    display: none;
}

.axis-y {
    text-anchor: end;
}

.axis-x text {
    text-anchor: middle;
}

.marker-line {
    fill: none;
    /* stroke: #a2a2a2; */
    stroke: #5ec946;
    stroke-width: 3.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.environment.marker-line {
    stroke: orange;
}

.voronoi path {
    fill: none;
    pointer-events: all;
    stroke: pink;
}

.tooltip text {
    font-size: 0.9rem;
    font-weight: 700;
    text-anchor: end;
}
