@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --amplify-primary-color: #78bf42;
    --amplify-primary-tint: #ff7359;
    --amplify-primary-shade: #e0573e;
}

html,
body,
#root,
.App {
    height: 100%;
}

body {
    margin: 0;
    line-height: 1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.App {
    display: flex;
    flex-direction: row;
}

.test {
    border: 1px solid red;
}

.sensor-visual {
    display: flex;
    position: relative;
}

.landing-page {
    display: grid;
}

.landing-page__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    background-image: url(../assets/images/hero.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.hero__text {
    color: white;
}

.hero__heading {
    font-weight: 400;
}

.hero__text.container {
    margin-bottom: 6rem;
}

.side-panel {
    height: 100%;
    background: blue;
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    min-width: 300px;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 0.2s;
}

.side-panel.show {
    transform: translateX(0);
}
