.map,
.google-map {
  height: 500px;
  width: 500px;
}

.map {
  position: relative;
}

.location-pin {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgba(0, 212, 255, 1);
  border: 3px solid #ffffff;
  transform: translate(-50%, -50%);
}
