body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.tick {
    stroke: #c0c0bb;
}

.tick-text {
    fill: #8e8883;
    font-size: 12px;
}

.axis-y {
    text-anchor: end;
}

.axis-x text {
    text-anchor: middle;
}

.mark path {
    fill: none;
    stroke: black;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.mark circle {
    fill: transparent;
}
